.guide-outside{
    background-color: #E14747;
    color: #fff;
}
.guide{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 5em 0;
}
.guide h1{
    padding-bottom: 1.5em;
}
.guide p{
    margin-bottom: 3em;
}
.guide a{
    padding: 0.8em 1.2em;
    background-color: #FAD87A;
    text-transform: none;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
}