.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
}
.header-top .logo img{
    display: block;
    width: 15%;
    height: auto;
}
.header-top .logo{
    width: 50%;
}
.header-top nav ul{
    display: flex;
    list-style: none;
    gap: 2em;
    align-items: center;
}
.header-top nav ul li a{
    color: #fff;
    text-decoration: none;
}